body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #000;
    font-family: monospace;
}
.smile{
    color:#217F9D ;
    font-weight: bold;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(58, 57, 59) ;
    font-family: 'Times New Roman', Times, serif;
}
nav .active a{
    background-color: #217F9D;
    color: #E5E5E5;
}
nav a:hover{
    background-color: #217F9D;
    color: #E5E5E5;
}

#banner{
    background-image: url('../images/pet.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}